{% extends 'boot_base.html' %}

{% load staticfiles %}
{% load static %}
{% block title %}About{% endblock %}

{% block body_block %}

<html>
<div class="jumbotron p-4">
    <div class="container">
        {% if user.is_authenticated %}
            <h1 class="jumbotron-heading text-center"> {{ user.username }}已登入，这里是Jeremie Rango!</h1>
        {% else %}
            <h1 class="jumbotron-heading text-center">游客你好！这里是Jeremie Rango!</h1>
        {% endif %}
        <strong>{{ boldmessage }}</strong>
    </div>
</div>


  <div class="center-block" style="width:800px;background-color:#C6E2FF;">
      <div class="text-center">
          </br>
    <h1>Jeremie Rango —— About</h1>
          </br></br>
                </div>
      <div style="padding-left:200px;">
          <h4><strong>尊姓大名</strong>：Jeremie<br/></h4>
          <h4><strong>性别种族</strong>：HUMAN-MAN<br/></h4>
          <h4><strong>种族区域</strong>：China,ShenZhen<br/></h4>
          <h4><strong>教育经历</strong>：SYSU<br/></h4>
          <h4><strong>奇迹邮箱</strong>：494292032@qq.com<br/></h4>
          <h4><strong>兴趣爱好</strong>：Basketball、FPS GAMEs、Coding<br/></h4>
          </br>
      </div>
  </div>


<img  width="300" src="{% static "images/rango.jpg" %}" alt="Rango" class="center-block">


</html>

{% endblock %}