{% extends 'boot_base.html' %}

{% load staticfiles %}

{% block body_block %}
<html lang="en">
<div class="jumbotron p-4">
	<div class="container">
        {% if user.is_authenticated %}
            <h1 class="jumbotron-heading text-center"> {{ user.username }}已登入，这里是Jeremie Rango!</h1>
        {% else %}
            <h1 class="jumbotron-heading text-center">游客你好！这里是Jeremie Rango!</h1>
        {% endif %}
        <strong>{{ boldmessage }}</strong>
    </div>
</div>

	<div class="container">
<body>
{% if category %}
<h1><strong>Add a Page to {{ category_name }}</strong></h1>
    <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Add Page">
    </form>
{% else %}
    The specified category does not exist!
{% endif %}
<a href="/rango/">BACK HOME</a><br/>
</body>
    </div>
</html>
{% endblock %}