{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>

<!--<a href="/rango/category/{{ category_name }}/add_page/">请添加一个pages吧</a>-->
<a href="/rango/category/{{category.slug}}/add_page/">请添加一个pages吧</a><br/>
<a href="/rango/">BACK HOME</a><br/>
</body>
</html>

{% endblock %}
