{% block body_block %}
<div class="hero-unit">
    <h1>登录Jeremie Rango</h1>

    <div class="container">
    <form class="form-signin span4" id="login_form" method="post" action="/rango/login/">
        <h2 class="form-signin-heading">请登录</h2>
        {% csrf_token %}
<!--        {% if bad_details %}-->
<!--        <p><strong>您输入的用户名或密码错误!</strong></p>-->
<!--        {% elif disabled_account %}-->
<!--        <p><strong>您的Rango账户已被禁用，暂不能登录!</strong></p>-->
<!--        {% endif %}-->

        用户名: <input type="text" class="input-block-level" placeholder="用户名" name="username" value="" size="25" />
        <br />
        密码: <input type="password" class="input-block-level" placeholder="密码" name="password" value="" size="25" />
        <br />
        <button class="btn btn-primary" type="submit">登录</button>
    </form>

    </div>
    <!-- /container -->
</div>
{% endblock %}