<!DOCTYPE html>
<html>
    <head>
        <title>Rango - {% block title %}JEREMIE RANGO{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr/>

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/rango/logout/">注销</a></li>
                <li><a href="/rango/add_category/">新建分类</a></li>
            {% else %}
                <li><a href="/rango/register/">注册</a></li>
                <li><a href="/rango/login/">登录</a></li>
            {% endif %}

                <li><a href="/rango/about/">关于</a></li>
            </ul>
        </div>
    </body>
</html>